.mvn
.settings
.classpath
.editiorconfig
.factorypath
.apt_generated
.project
.settings
.springBeans
.sts4-cache/
.idea
*.iws
*.iml
*.ipr

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


target/
!.mvn/wrapper/maven-wrapper.jar


nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


/target
/dist
/tmp
/out-tsc


/node
/node_modules
node/


/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings


/e2e/*.map


.DS_Store
Thumbs.db
